<!DOCTYPE html>
<html>
  <head>
    <title>Grocery List</title>
  </head>
  <body>
    <h1>Grocery List</h1>
    {% if items %}
    <ul>
      {% for item in items %}
      <li>  <a href="{{ item.id }}">
        {{ item.item_name }}
      </a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No grocery items have been added.</p>
    {% endif %}
  </body>
</html>